* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
}

#warp {
    width: 1920px;
    margin: 0 auto;
}

.header {
    width: 1920px;
    height: 200px;
    position: relative;
}

.header_logo a img {
    width: 200px;
    display: block;
    margin: 0 auto;
    padding-top: 40px;
}

.header_menu {
    width: 1920px;
    height: 90px;
    position: absolute;
    left: 360px;
    float: left;
    z-index: 100;
    margin: 0 auto;
}

.header_menu_box {
    width: 1920px;
    height: 90px;
    margin-top: 20px;
}

.header_menu_box > li {
    width: 300px;
    float: left;
    font-size: 23px;
   text-align: center;
   
}

.header_menu_box > li > a {
    width: 300px;
    height: 90px;
    line-height: 70px;
}

.header_sub_menu {
    display: none;
    width: 300px;
    background-color: dimgray;;
    font-size: 19px;
    color: white;
}

.header_sub_menu > li > a {
    display: block;
    width: 300px;
    padding: 25px 0;
   transition: 0.5s;
}

.header_sub_menu > li > a:hover {
    background-color: white;
    color: black;
}

.header_menu_logo a img {
    position: absolute;
    bottom: 0;
    right: 210px;
    width: 30px;
}

.section1 {
    width: 1500px;
    height: 700px;
    position: relative;
}

.section1_img {
    width: 100%;
    background-color: black;
    margin: 10px auto;
    margin-left: 210px;
    
}

.section1_img img {
    width: 100%;
    opacity: 0.7;
}

.section1_img_text {
    position: relative;
}

.section1_img_text h2 {
    display: block;
    width: 800px;
    color: white;
    font-size: 50px;
    position: absolute;
    left: 450px;
    bottom: 270px;
}

.section1_img_text p {
    display: block;
    width: 800px;
    color: white;
    font-size: 25px;
    position: absolute;
    left: 435px;
    bottom: 220px;
}

.section1_img_button {
    position: absolute;
    left: 870px;
    bottom: 180px
}

.button1 {
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
}

.button2 {
    display: block;
    width: 20px;
    height: 20px;
    background-color: dimgray;
    position: absolute;
    border-radius: 50%;
    left: 90px
}

.button3 {
    display: block;
    width: 20px;
    height: 20px;
    background-color: dimgray;
    position: absolute;
    border-radius: 50%;
    left: 180px;
}

.section2 {
    width: 1920px;
    height: 550px;
    margin-top: -110px;
    position: relative;
}

.section2_img {
    height: 500px;
}

.section2_img img {
    width: 500px;
    height: 650px;
    position: absolute;
    top: -112px;
    left: 380px;
}

.section2_text1 {
    width: 1000px;
    position: absolute;
    right: 100px;
    bottom: 260px;
    text-align: center;
}

.section2_text1 h3 {
    font-size: 29px;
    padding-bottom: 30px;
}

.section2_text1 p {
    font-size: 18px;
    padding-bottom: 50px;
}

.section2_text1 p span {
    color: #1e3a62;
}

.section2_text1 p span.name {
    font-size: 29px;
    letter-spacing: 5px;
    font-weight: bold;
}

.section2_text2 {
    width: 1920px;
    height: 200px;
    background-color: #1e3a62;
    position: absolute;
    top: 338px;
}

.section2_text2_item {
    color: white;
    font-size: 17px;
    padding-left: 1100px;
    padding-top: 20px;
    line-height: 40px;
}

.section3 {
    width: 1200px;
    height: 550px;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
}

.section3_item1 {
    width: 700px;
    height: 400px;
    background-color: #eaebeb;
    padding-left: 50px;
    padding-top: 50px;
    font-size: 17px;
}

.section3_item1_text1 {
    padding-bottom: 40px;
}

.section3_item1_text2 {
    padding-bottom: 40px;
}

.section3_item1_text2 span {
    color: #947863;
}

.section3_item1_text3 {
    padding-bottom: 50px;
}

.section3_item1_text_button {
    width: 90px;
    height: 40px;
    line-height: 40px;
    padding-left: 27px;
    font-size: 15px;
    transition: 0.8s;
    border: 1px solid black;
    border-radius: 100px;
    cursor: pointer;
}

.section3_item1_text_button:hover {
    background-color: #1e3a62;
    color: white;
}

.section3_item2 {
    width: 650px;
    height: 450px;
    position: absolute;
    right: 0;
    top: 60px;
    opacity: 0.8;
}

.section3_item2 img {
    width: 650px;
    height: 450px;
}

.section3_item3_box {
    width: 530px;
    height: 110px;
    margin-left: 40px;
    position: relative;
    display: block;
    box-sizing: border-box;
}

.section3_item3_box li {
    cursor: pointer;
    border: 4px solid gray;
}

.section3_item3_box li.border {
    border-color: #1e3a62;
}

.section3_item3_box img {
    width: 110px;
    height: 80px;
    box-sizing: border-box;
}

.section3_item3_box1_img{
    position: absolute;
    bottom: 0;
    left: -20px;
    box-sizing: border-box;
}

.section3_item3_box2_img {
    position: absolute;
    bottom: 0;
    left: 110px;
    
}


.section3_item3_box3_img {
    position: absolute;
    bottom: 0;
    left: 240px;
   
}


.section3_item3_box4_img {
    position: absolute;
    bottom: 0;
    left: 370px;
    
}


.section4 {
    width: 1600px;
    height: 700px;
    background-color: #eaebeb;
    margin: 0 auto;
    
}

.section4_item1 {
    width: 800px;
    height: 350px;
    float: left;
    color: white;
    position: relative;
    font-size: 15px;
}

.section4_item2 {
    width: 800px;
    height: 350px;
    float: left;
    color: black;
    position: relative;
    font-size: 15px;
}

.section4_item3 {
    width: 800px;
    height: 350px;
    float: left;
    color: white;
    position: relative;
    font-size: 15px;
}

.section4_item4 {
    width: 800px;
    height: 350px;
    float: left;
    color: black;
    position: relative;
    font-size: 15px;
}

.section4_item1 p {
    position: absolute;
    top: 90px;
    left: 70px;
}


.section4_item2 p {
    position: absolute;
    top: 90px;
    left: 65px;
}

.section4_item3 p {
    position: absolute;
    top: 90px;
    left: 525px;
}

.section4_item4 p {
    position: absolute;
    top: 90px;
    left: 551px;
}

.section4_item1 h2 {
    font-size: 50px;
    position: absolute;
    top: 120px;
    left: 50px;
}

.section4_item2 h2 {
    font-size: 50px;
    position: absolute;
    top: 120px;
    left: 50px;
}

.section4_item3 h2 {
    font-size: 50px;
    position: absolute;
    top: 120px;
    left: 550px;
}

.section4_item4 h2 {
    font-size: 50px;
    position: absolute;
    top: 120px;
    left: 550px;
}

.section4_item1_text_button {
    font-family: 'Rixgo L';
    width: 90px;
    height: 40px;
    line-height: 40px;
    padding-left: 26px;
    font-size: 15px;
    transition: 0.8s;
    border: 1px solid white;
    border-radius: 100px;
    cursor: pointer;
    position: absolute;
    bottom: 70px;
    left: 95px;
}

.section4_item2_text_button {
    font-family: 'Rixgo L';
    width: 90px;
    height: 40px;
    line-height: 40px;
    padding-left: 26px;
    font-size: 15px;
    transition: 0.8s;
    border: 1px solid black;
    border-radius: 100px;
    cursor: pointer;
    position: absolute;
    bottom: 70px;
    left: 95px;
}

.section4_item3_text_button {
    font-family: 'Rixgo L';
    width: 90px;
    height: 40px;
    line-height: 40px;
    padding-left: 26px;
    font-size: 15px;
    transition: 0.8s;
    border: 1px solid white;
    border-radius: 100px;
    cursor: pointer;
    position: absolute;
    bottom: 70px;
    right: 110px;
}

.section4_item4_text_button {
    font-family: 'Rixgo L';
    width: 90px;
    height: 40px;
    line-height: 40px;
    padding-left: 26px;
    font-size: 15px;
    transition: 0.8s;
    border: 1px solid black;
    border-radius: 100px;
    cursor: pointer;
    position: absolute;
    bottom: 70px;
    right: 110px;
}

.section4_item1_text_button:hover {
    background-color: white;
    color: #1e3a62;
}

.section4_item2_text_button:hover {
    background-color: black;
    color: white;
}

.section4_item3_text_button:hover {
    background-color: white;
    color: #1e3a62;
}

.section4_item4_text_button:hover {
    background-color: black;
    color: white;
}

.section5 {
    width: 1920px;
    height: 700px;
    background-color: #eaebeb;
    position: relative;
    margin: 0 auto;
}

.section5_item {
    width: 1500px;
    height: 600px;
    background-color: aqua;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.section5_item1 {
    width: 500px;
    height: 300px;
    float: left;
    position: relative;
}

.section5_item2 {
    width: 500px;
    height: 300px;
    float: left;
    position: relative;
}

.section5_item3 {
    width: 500px;
    height: 300px;
    float: left;
    position: relative;
}

.section5_item4 {
    width: 500px;
    height: 300px;
    float: left;
    position: relative;
}

.section5_item5 {
    width: 500px;
    height: 300px;
    float: left;
    position: relative;
}

.section5_item6 {
    width: 500px;
    height: 300px;
    float: left;
    position: relative;
}

.section5_item1_box {
    color: white;
    position: absolute;
    bottom: 50px;
    left: 35px;
}

.section5_item2_box {
    color: black;
    position: absolute;
    bottom: 50px;
    left: 35px;
}

.section5_item3_box {
    color: black;
    position: absolute;
    bottom: 23px;
    left: 35px;
}

.section5 h2 {
    font-size: 25px;
    margin-bottom: 30px;
}


.section5 p {
    font-size: 15px;
    margin-bottom: 50px;
}

.section5_item6 h2 {
    position: absolute;
    bottom: 158px;
}

.section5_item6 p {
    position: absolute;
    bottom: 90px;
    font-size: 21px;
    color: dodgerblue;
}




.section5_item6 span {
    float: right;
    padding-left: 30px;
    letter-spacing: 1.5px;
}

.info {
    padding-bottom: 10px;
}

.info_1 {
    padding-bottom: 10px;
    letter-spacing: 1.1px;
}

.info_2 {
    letter-spacing: -0.5px;
}

.section5_item1_text_button1 {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.8s;
}

.section5_item1_text_button2 {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.8s;
}

.section5_item1_text_button1:hover {
    background-color: white;
    color: black;
}

.section5_item1_text_button2:hover {
    background-color: black;
    color: white;
}

.footer {
    width: 100%;
    height: 180px;
    background-color: #1d3963;
    
    position: relative;
}

.footer_text1 {
    width: 1100px;
    height: 50px;
    margin: 0 auto;
    color: white;
    box-sizing: border-box;
    position: absolute;
    left: 60px;
}

.footer_text_up_item {
    margin-top: 20px;
    padding: 0 15px;
    float: left;
    color: #9c9ea2;
    border-right: 2px solid #9c9ea2;
}

.footer_text_up_item:last-child {
    border: none;
}

.footer_text_up_item:hover {
    color: white;
}

.footer_text_right {
    font-size: 14px;
    color: #9c9ea2;
    position: absolute;
    bottom: 20px;
    left: 73px;
}

.footer_text_right_item {
    padding: 8px 0;
}

.footer_text_left {
    color: #9c9ea2;
    position: absolute;
    right: 20px;
    bottom: 30px;
    font-size: 14px;
    letter-spacing: -1.5px;
}

.footer_text_left img {
    float: left;
    width: 40px;
}

.footer_text_left_item {
    width: 190px;
    float: left;
}

.footer_text_left_item span {
    float: left;
    padding-left: 18px;
}

